
.wp-block-hsq-hsq-project-link .components-resizable-box__container {
	flex-shrink: 1 !important;
	margin-right: 10px;
}

.wp-block-hsq-hsq-project-link .block-editor-block-list__layout > * {
	clear: none;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	z-index: 0;
}

.wp-block-hsq-hsq-project-link .block-editor-block-list__layout figure {
	z-index: 1;
}

.wp-block-hsq-hsq-project-link .block-editor-block-list__layout::after {
	content: "";
	clear: both;
	display: table;
}

